* {
  background-color: #09153d;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.weather-info {
  display: flex;
  align-items: center;
}
.weather-info img {
  max-width: 200px;
  max-height: 200px;
  margin-left: 300px;
}

.forecast-item {
    background-color: #09153d;
  display: inline-block;
  width: 18%;
  text-align: center;
  vertical-align: top;
  margin-right: 0%;
}
.forecast-item:last-child {
  margin-right: 0;
}

.navbar {
  background-color: #111e4e;
  padding: 1rem;
}

.navbar-container {
  background-color: #111e4e;
  display: flex;
  align-items: center;
}

.menu-icon {
  background-color: #111e4e;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.navbar-title {

  background-color: #111e4e;
  font-size: 1.2rem;
}

.menu-list {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu-list li {
  background-color: #111e4e;
  padding: 1rem;
}

.menu-list li a {
  background-color: #111e4e;
  color: white;
  text-decoration: none;
}

.menu-list li:hover {
  background-color: #111e4e;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .menu-list {
  display: block;
}

.Act, .Previsions, .Direct, .Observations {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-size: 100%;
}

footer {
  background-color: #111e4e;
  color: #fff; 
  padding: 20px; 
  text-align: center;
}

footer > p {
  background-color: #111e4e;
}


footer > p  a{
  background-color: #111e4e;
}

.card {
  background-color: transparent;
  border: 2px solid #111e4e;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  color: #7727c0;
}

.card-text {
  color: white;
}

.card-group {
  background-color: #111e4e;
}